<h3>About us</h3>
<p class="flow-text">This application was created as practical part of the thesis in the Akademia Finansow i Biznesu Vistula by <strong>Iulian Sardar</strong></p>
<p class="flow-text">Author is student of the Computer Science faculty</p>